
html,body{
	height:100%;
}


.imggg{
	display: inline-block;
	border: 5px solid #000;
	height: 300px;
	width: 300px;
	background: url(13516600_931553466967371_7094337658772198915_n1.jpg);
	background-size:cover;
	transition:  all 15s;
}

.imggg:hover{
	height: 500px;
	width: 500px;
	background: url(1547328424984.jpg);
	background-size:cover;
	

}