<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="9.12.css">
</head>
<body>
    
  <div id="app">。
        <section>
          <div class="container">
            <div class="title">
              <div class="description">
                <a
                  v-if="index > 0"
                  class="arrow left"
                  @click="changeIndex(-1)"
                ></a>
                
                
                <transition
                  @before-enter="beforeEnterHandler"
                  @enter="enterHandler"
                  @after-enter="afterEnterHandler"
                  @enter-cancelled="afterEnterHandler"
                  @before-leave="beforeleaveHandler"
                  @leave="leaveHandler"
                  @after-leave="afterleaveHandler"
                  @leave-cancelled="afterleaveHandler"
                  :css="false"
                  mode="out-in"
                  appear
                >
                  <div
                    class="menuItem white"
                    style="transform:scale3d(1.5,1.5,1)"
                    v-for="(item,i) in menu"
                    v-if="index === i"
                    :key="item.title"
                  >
                    <span class="number">{{ i+1 }}</span>
                    <span class="type">{{ item.type }}</span>
                    <a
                      class="title"
                      target="vue-iron"
                      :href="item.link"
                    >{{ item.title }}</a>
                  </div>
                </transition>
    
    
                <a
                  v-if="index < total-1"
                  class="arrow right"
                  @click="changeIndex(1)"
                ></a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src="9.12過場.js" ></script>
</body>
</html>